


body {
  /*overflow: hidden; /* Hide scrollbars */
  background-color:transparent;
  overflow-x: hidden;
}

.main{


height:100% ;
min-height:100vh;
width:100% ;
min-width:100vw;
}




.myimg{
/*height:calc(60rem + 1vh);*/
/*width:calc(90rem + 1vw);*/
}


.num{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}


.Select-value-label {
    color: white !important;
   
}


.Select-value {
    border-color: #0b1a50 !important;
   
}

.VirtualizedSelectOption {
    background-color: #0b1a50;
    color: white;
    font-size:1.6vh;
 }
